PRAGMA_MINIO_ENDPOINT=http://218.11.1.13:9000
PRAGMA_MINIO_BUCKET=product-project-dev-lab
PRAGMA_MINIO_REGION=us-east-1
PRAGMA_MINIO_OBJECT_PREFIX=pragma-design-context
PRAGMA_MINIO_PUBLISH_ACCESS_KEY=
PRAGMA_MINIO_PUBLISH_SECRET_KEY=
PRAGMA_MINIO_VIEW_URL=http://218.11.1.13:9000/
